body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.797);
    color: #fff;
    box-sizing: border-box;
}
ul,li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__link{
    margin: 15px 0;
    cursor: pointer;
}
.nav__link:hover{
    color: rgba(255, 255, 255, 0.67);
}